* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav {
  box-shadow: 1px 1px #dad9d9;
  background-color: white;
}

.banner {
  position: absolute;
  animation: banner-text 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes banner-text {
  0% {
    left: 10%;
    bottom: 25%;
    opacity: 0;
    width: 25%;
  }

  100% {
    left: 20%;
    bottom: 25%;
    opacity: 1;
    width: 25%;
  }
}
.nav-link {
  font-size: large;
  font-weight: 500;
}
.nav-link:hover {
  color: rgb(113, 81, 33);
  opacity: 1;
}
.nav-link.active:hover {
  color: rgb(113, 81, 33);
  opacity: 1;
}
#navbar {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px 16px 5px 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 200px;
}

.menu-tab {
  line-height: 59px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  background-color: white;
  /* z-index: 1; */
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: all 2s;
}

.dropdown > .dropdown-menu > li:hover > a {
  color: rgb(155, 195, 82);
}

.dropdown-item {
  padding: 12px;
}

.dropdown-item:active{
  background-color: #65ff6d;
}

#fb:hover {
  color: #6495ed;
}

#ins:hover {
  color: violet;
}

#twitter:hover {
  color: #6495ed;
}

#ytb:hover {
  color: red;
}

#link:link {
  color: white;
  text-decoration: none;
}

#link:hover {
  color: #68ef7e;
}

#contact:link {
  color: white;
  text-decoration: none;
}

#contact:hover {
  color: #68ef7e;
}

.searchSm {
  display: none;
}

.logo2 {
  width: 100%;
  display: none;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid rgb(238, 235, 235);
}
.logo2 > span {
  font-size: 30px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .logo1 {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .searchLg {
    display: none;
  }
  .searchSm {
    display: block;
  }
  .search2 {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 16px 5px 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .search2:focus {
    width: 250px;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .logo1 {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .searchSm {
    display: block;
  }
  .search2 {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 16px 5px 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .search2:focus {
    width: 200px;
  }
  .searchLg {
    display: none;
  }
  .scroll-box{
    padding: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .logo1 {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .searchSm {
    display: block;
  }

  .search2 {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 16px 5px 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .search2:focus {
    width: 150px;
  }
  .searchLg {
    display: none;
  }
  .scroll-box{
    padding: 20px;
  }
  
}

.bar1,
.bar2,
.bar3 {
  width: 35.5px;
  height: 6px;
  background-color: rgb(2, 10, 6);
  margin: 5px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@keyframes moverY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes moverX {
  0% {
    transform: translateX(15px);
    transform: translateY(-0px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    transform: translateY(-25px);
    opacity: 1;
  }
}

svg {
    display: block;
    font: 10.5vw "Montserrat";
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #8be22f;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #17e81e;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #4de82f;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #68b614;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #6ddd59;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.loadingPage.hide{
  display: none;
}

.main{
  display: none;
}
.main.shows{
  display: block;;
}

.progress{
  border-radius: 20px;
}

.progress-bar{
  animation: progressbar 1s alternate;
}


@keyframes progressbar {
  0% {width: 0%;}
  10% {width: 10%;}
  /* 15% {width: 15%;} */
  20% {width: 20%;}
  /* 25% {width: 24%;} */
  30% {width: 30%;}
  /* 35% {width: 35%;} */
  40% {width: 40%;}
  /* 45% {width: 45%;} */
  50% {width: 50%;}
  /* 55% {width: 55%;} */
  60% {width: 60%;}
  /* 65% {width: 65%;} */
  70% {width: 70%;}
  /* 75% {width: 75%;} */
  80% {width: 80%;}
  /* 85% {width: 85%;} */
  90% {width: 90%;}
  /* 95% {width: 95%;} */
  100% {width: 100%;}
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
