img {
    width: 90%;
    height: NaN;
}

.sec-title h2 {
    position: relative;
    color: #87c00c;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 5px;
    font-family: Arial, serif;
}

.centered{
    text-align: center;
}

.toc:before {
    /* content: " Index: "; */
    display: block;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px dashed #dadada;
    padding-bottom: 10px;   
}


.toc-link {
    font-size: 100%;
    text-decoration: none;
}

.toc-list .is-collapsible {
    margin-left: 15px;
    color: #666;
}

div .inner-content {
    padding: 0;
}

.input-right {
    float: right;
}

.input-right>p {
    position: relative;
    line-height: 1.8em;
}

*/ input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
button {
    width: 60px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

*/

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}